{% extends 'base.html.twig' %}

{% block title %}Userpage{% endblock %}

{% block body %}

<h1>Better Than Deezer</h1>
<div>{{form(form)}}
</div>

<ul >
{% for user in users %}
<li>{{user.email}}</li>

{% endfor %}
</ul>
{% endblock %}
