
:root{
    font-family: "Montserrat", sans-serif;
    color: white;
}

body{
    background-color: black;
}

h1{
    font-size: 5em;
    color: cadetblue;
    text-align: center;
}

table{
    width: 80%;
    text-align: left;
    margin: auto;
}

thead th{
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    
    
}

tbody td{
    padding-top : 1rem;
}