

/*
 * Welcome to your app's main JavaScript file!
 *
 * This file will be included onto the page via the importmap() Twig function,
 * which should already be in your base.html.twig.
 */

:root{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 200;
    --secondary-color : rgb(155, 116, 195);
    --title-color : #36494E;
}

body{
    background-color: black;
}

h1{
    font-size: 5em;
    color: var(--title-color);
    text-align: center;
}

table{
    width: 80%;
    text-align: left;
    margin: auto;
}

thead th{
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    
    
}

tbody td{
    padding-top : 1rem;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
}

li{
    list-style: none;
}

.artists-list{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.artists-list>*{
    margin: 2rem;
    font-size: 1.5em;
}

.entity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 2rem;
}

hgroup{
    padding: 1rem;
    text-align: center;
}