{% extends 'base.html.twig' %}

{% block title %}Genre page{% endblock %}

{% block body %}

<h1>Artistes dans la catégorie {{genre.name}}</h1>

<ul class="artists-list">
{% for artist in genre.artists %}
<li><a href="{{path('artists',{ id: artist.id })}}">{{ artist.name }}</a></li>

{% endfor %}
</ul>

{% endblock %}
